# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.agent
.agents
skills
skills-lock.json
docs
.claude/agent-memory/style-enforcer/MEMORY.md
.claude
CLAUDE.md
# Node dependencies
node_modules

#Prettier
.prettierrc
.prettierignore

#ESLint
eslint.config.mjs

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example


transcripciones.md